html, body {
    height: 100%;
    padding: 0;
    margin: 0;
    font-family: sans-serif;
    font-size: small;
}

th, td {
    vertical-align: top;
    text-align: left;
}

#map {
	background-color:#dfefff;
    min-width: 100%;
    height: 70%;
	border:solid 2px #000000;
	text-align:center;
	
}

#locator{
	position:absolute; height: 150px; width: auto;
 }
 
img{
	max-width:100%;
	height:auto;
}

.titlebar
{
	height:7%;
    
    padding: 40px 0;
    background-color: #ffffff;
    font-weight:bold;
    color: #000000;
   
    position: relative;
}

.titlebar h3{
	float:center;
}
.titlebar img { position: absolute; left: 10px; top: 15%; width:auto; height:70%;}

.footer{
	padding:10px;
	margin:10px;
	border-style:solid, 2px, #000000;
	border-radius: 10px;
	background-color:#ffffff;
}
.footer2{
	padding:10px;
	margin:10px;
	height:100px;
	background-color:#ffffff;
}

.ol-popup {
   height:75vw;
	
}

.ol-popup-closer {
    text-decoration: none;
    position: absolute;
    top: 2px;
    right: 8px;
}

.ol-popup-closer:after {
    content: "X";
}

.ol-attribution a {
    text-decoration: none;
    color: #666;
    font-family: sans-serif;
    font-size: 100%;
}

.layer-switcher .panel {
    //border: 4px solid rgba(0,60,136,.5) !important;
    //border-radius: 4px !important;
}

.layer-switcher {
    top: 0.5em;
    right: 0.5em;
    text-align: left;
}

#popup{
    position:relative;
	top:-150px;
	left:-50%;
	
	display:none;
    background-color: white;
    height:auto;
	
	min-width:40vw;
    max-width:55vw;
	
    padding: 15px;
    border: 3px solid #000000;
	overflow: scroll;
	
	
}

#popup-content>ul>li:nth-child(even) {
    background-color: #eee;
}

#popup-content ul {
    list-style-type: none;
    padding-left: 0;
}

#popup-content li {
    margin-bottom:0.1em;
}
